body {
    background-color: #f4f5f9;
    color:#050505;
}
header {
    width: 1300px;
    height: 100px;
    /* background-color: pink; */
    margin: 0 auto;
    padding-top: 30px;
}
.logo {
    height: 42px;
    width: 195px;
    float: left;
    /* background-color: purple; */
}
.logo a {
    display: block;
    width: 195px;
    height: 42px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
nav {
    float: left;
    margin-left: 20px;
}
nav li {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 25px;
}
nav li a {
    /* float: left; */
    display: block;
    height: 40px;
    font-size: 18px;
    padding: 0 10px;
}
nav li a:hover {
    border-bottom: 2px solid #02a3fe;
}
.search {
    width: 410px;
    height: 40px;
    /* background-color: purple; */
    float: left;
    margin-left: 160px;
}
.search input {
    width: 360px;
    height: 38px;
    margin-top: 2px;
    border: 1px solid #00a3fe;
    outline: none;   /*  轮廓线 */
    padding-left: 10px;
    float: left;
}
.search  button {
    width: 50px;
    height: 40px;
    outline: none;
    float: left;
    background: url(../images/搜索.png) no-repeat;
}
.personal {
    float: right;
    height: 40px;
    line-height: 40px;
}
.personal dt, .personal dd {
    float: left;
}
.personal s::before {
    content: "";
    display: block;  /* 因为为元素默认的是行内元素  */
    width: 6px;
    height: 6px;
    background-color: purple;
    border-radius: 50%;
    position: absolute;
    right: 24px;
    top: 0;
}
.personal s {
    text-decoration: none;
    position: relative;
    padding: 0 20px;
}
.personal span img {
    border-radius: 50%;
    margin-right: 10px;
}
/* banner部分 */
.banner {
    height: 420px;
    background-color: #1d046c;
}
.inner {
    height: 420px;
    position: relative;
}
.subnav {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 190px;
    background-color:rgba(0, 0, 0, 0.3);
    padding-top: 20px;
}
.subnav li {
    padding-left: 20px;
    position: relative;
    
}
.subnav a {
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    display: block;
}
.subnav span {
    position: absolute;
    right: 20px;
    top: 0;
}
.subnav li a:hover {
    color: #00b4ff;
}
.circle {
    width: 175px;
    height: 20px;
    /* background-color: #ffffff; */
    position: absolute;
    left: 50%;
    bottom: 20px;
    /* margin-left: -88px; 以下代码等价于此代码（CSS3）*/
    transform: translate(-50%);
}
.circle i {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: rgba(255 , 255, 255, 0.4);
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 3s ease 0s;
}
.circle i:hover {
    width: 20px;
    border-radius: 6px;
    background-color: #fff;
}
.timebook {
    background-color: #fff;
    width: 200px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    /* background-color: pink; */
}
.timebook dt {
    height: 45px;
    width: 100%;
    background-color: #98d5f7e6;
    font-size: 25px;
    color: #fff;
    text-align: center;
    line-height: 45px;
}

.timebook dd {
    height: 50px;
    margin: 12px;
    /* background-color: #d8d2eb; */
    width: 198px;
    border-bottom: 1px solid #000;
}
.timebook dd a {
    height: 50px;
    width: 198px;
    display: block;
}
.timebook  b {
    display: block;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.timebook dd span {
    color: rgba(0, 0, 0, 0.3);
}
.timebook dd a:hover {
    color: #98d5f7e6;
}
.timebook .timebook-list a{
    display: block;
    width: 170px;
    height: 50px;
    border: 1px solid #98d5f7e6;
    text-align: center;
    line-height: 50px;
    color: #98d5f7e6;
    font-size: 22px;
}
.timebook .timebook-dd {
    border-bottom: 0px;
}